# Originalni veliki video fajlovi (samo _web.mp4 verzije idu na GitHub)
assets/slike/Korak_dalje_testiranje/Ana_pehar.mp4
assets/slike/Korak_dalje_testiranje/Ana_pehar_skraceno.mp4
assets/slike/Korak_dalje_testiranje/Circle_to_serach.mp4
assets/slike/Korak_dalje_testiranje/Circle_to_search_fix.mp4
assets/slike/snimke_udruge/
